<!DOCTYPE html>

<html lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="/css/component.css">

<script src="/js/lib/jquery-3.6.1.js"></script>
<script>
    $(document).ready(function(){
        
        $("#loginButton").click(function() {
            var userId = $("#userId").val();
            var userPw = $("#userPw").val();
            
            if(userId != '' && userPw != '') {
                loginGo(userId, userPw);
            } else if (userId == '') {
                console.log('ID를 입력하세요');
                alert('ID를 입력하세요');
            } else if (userPw == '') {
                console.log('비밀번호를 입력하세요');
                alert('비밀번호를 입력하세요');
            }
        })

        function loginGo(userId, userPw) {
            var data = {
                userId : userId,
                userPw : userPw
            }

            console.log("data : ", data);
            $.ajax({
                url: "member/loginGo",
                contentType: "application/json; charset=utf-8",
                type: "POST",
                // dataType: "json",
                data: JSON.stringify(data),
                async:false,
                error: function (xhr, status) {
                    console.log(status);
                    alert("실패");
                },
                success: function (result) {
                    console.log("result : ", result);
                    alert("성공");
                }
            });

            $(document).ajaxSuccess(function(event, request, settings) {
            if (request.getResponseHeader('REQUIRES_AUTH') === '1') { 
                console.log("test 성공");
                window.location = '/'; 
            } 
        });

        };
        
    });

</script>
</head>
<body>
    <form action="/loginProcess" method="post">
        <div class="loginForm">
            <div>
                <label for="userId">ID : </label>
                <input type="text" class="basicInput" id="userId">
            </div>
            <div>
                <label for="userPw">PWD : </label>
                <input type="text" class="basicInput" id="userPw">
            </div>
            <button id="loginButton">login</button>
        </div>
    </form>

</body>


</html>